body{
  font-family: 'Poppins' sans-serif;
  font-weight: 900;
  color: #465967;
  text-align: justify;
}

#header{
  font-family: "Poppins",sans-serif;
  font-weight: 900;
  background: #202c38;
  color: #7ca7c5;
  padding-top: 20px;
}

#container{
  padding-left: 30px;
  padding-right: 30px;
}

#column{
  padding-bottom: 10px;
}

#image{
  width: 250px;
  height: auto;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
#line{
  width: 500px;
  height: 5px;
  background: rgb(141, 139, 139);
}
