body{
  font-family: 'Poppins' sans-serif;
  font-weight: 900;
  color:white;
}
img{
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 15px;
}
.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
.biru{
  background-color: aliceblue;
}
p{
  font-weight: 400;
  font-size: 17px;
}

.container{
  text-align: center;
}
.container h1{
  margin: 0 auto;
  color: black;
  font-size: 50px;
}

.card h1{
  font-size: 40px;
}